In [43]:
# Import Environment Dependencies
import tweepy
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from config import api_key, api_key_secret, access_token,access_token_secret
from pprint import pprint
from datetime import date
from datetime import timedelta
from config import gkey
import requests
import urllib
from urllib.request import urlopen
import json
import gmaps

In [44]:
# Get Authentication and API Handle from Tweepy

auth = tweepy.OAuthHandler(consumer_key=api_key, consumer_secret=api_key_secret)

auth.set_access_token(access_token,access_token_secret)

api = tweepy.API(auth)

In [45]:
#  # function to perform data extraction
def scrape(words):
      
# Creating DataFrame using pandas
    db = pd.DataFrame(columns=['username', 'description', 'location', 'following',
                               'followers', 'totaltweets', 'retweetcount', 'text', 'hashtags'])
   
   
 # Creating a Cursor using the .Cursor() method to search through twitter for the required tweets.
    
    tweets = tweepy.Cursor(api.search_tweets,q=words, lang="en", 
             tweet_mode='extended').items(100)
    
   
    list_tweets = [tweet for tweet in tweets]
           
    # we will iterate over each tweet in the list for extracting information about each tweet
    i = 1  
    for tweet in list_tweets:
        
        username = tweet.user.screen_name
        description = tweet.user.description
        location = tweet.user.location
        following = tweet.user.friends_count
        followers = tweet.user.followers_count
        totaltweets = tweet.user.statuses_count
        retweetcount = tweet.retweet_count
        hashtags = tweet.entities['hashtags']
        
        # Retweets can be distinguished by a retweeted_status attribute,
        # in case it is an invalid reference, except block will be executed
        try:
            text = tweet.retweeted_status.full_text
        except AttributeError:
            text = tweet.full_text
        hashtext = list()
        for j in range(0, len(hashtags)):
            hashtext.append(hashtags[j]['text'])
          
        # Here we are appending all the extracted information in the DataFrame
       
        ith_tweet = [username, description, location, following,
                     followers, totaltweets, retweetcount, text, hashtext]
        db.loc[len(db)] = ith_tweet
    
        i = i+1
    return db
        
        
    
#     filename = 'scraped_tweets.csv'    
    # Saving the resultset as a CSV file.
#     db.to_csv(filename)

if __name__ == '__main__':
         
# Enter Keyword
    print("Enter Keyword to search for")
    words = input()

  
    db=scrape(words)

Enter Keyword to search for
The Braves

In [46]:
#Create a Panda Dataframe with the dataframe returned in the earlier module
db_df = pd.DataFrame(db)
db_df

# Extract the top 50 tweets where the location has a value and the retweet count> 0 into separate Panda DF
no_blnk_local_df = db_df.loc[((db_df['location'] !="") & (db_df["retweetcount"] > 0)),:].sort_values('retweetcount',ascending=False).head(50)
no_blnk_local_df

,username,description,location,following,followers,totaltweets,retweetcount,text,hashtags
32,bleucapone,boss of all bosses. quadruple OG ‚ôøÔ∏é,"East Atlanta, GA",929,8378,470123,1506,"26 years ago tonight, the @Braves brought Atla...",[WorldSeries]
98,truebluerob,GEORGIA SOUTHERN EAGLES BEAT FLORIDA GATORS 26...,"Alpharetta, GA",350,140,52658,974,The @Braves' biggest hype man: @ronaldacunajr2...,[]
99,lfp6,Geek and proud of it,"Marietta, GA, USA, Earth",162,136,5303,442,AUSTIN RILEY 3:16 SAYS THE BRAVES STRIKE FIRST...,"[BattleATL, WorldSeries]"
35,Lewis_20,,Great State of Texas.,371,301,86463,441,AUSTIN RILEY 3:16 SAYS THE BRAVES STRIKE FIRST...,"[BattleATL, WorldSeries]"
79,subbbbbbbbbb28,Áèç(ËÉåÁï™Âè∑28„Å®ËÉåÁï™Âè∑45)/üê¥(Efforia„Å®Adayar),Áèç„Ç´„ÇπÂ∑¶ËÖï„Åô„Åì„Åô„ÅìÈÉ®,100,193,30442,441,AUSTIN RILEY 3:16 SAYS THE BRAVES STRIKE FIRST...,"[BattleATL, WorldSeries]"
52,Dylancze,Philippians 4:13,"Atlanta, GA",277,405,3257,441,AUSTIN RILEY 3:16 SAYS THE BRAVES STRIKE FIRST...,"[BattleATL, WorldSeries]"
7,plazaaa_10,| 23 | Rü§ç |,"California, USA",302,516,18369,441,AUSTIN RILEY 3:16 SAYS THE BRAVES STRIKE FIRST...,"[BattleATL, WorldSeries]"
29,JTemp23,NELA ‚û°Ô∏è DFW | #ULM and #LSU üéì| #GeauxTigers #F...,"Frisco, TX",125,199,5132,441,AUSTIN RILEY 3:16 SAYS THE BRAVES STRIKE FIRST...,"[BattleATL, WorldSeries]"
72,Brucker_17,,"Marietta, GA",701,371,33306,434,AUSTIN RILEY 3:16 SAYS THE BRAVES STRIKE FIRST...,"[BattleATL, WorldSeries]"
96,ZRL32,LifeüíØüî•üíµ,"Manchester, NH",364,314,97140,58,Braves get on the board first in Game 3 üî• \n\n...,[]
68,AshtonMills96,"I have an irrational love for the #RedSox, col...","Portland, OR",167,20,179,51,Just saw a couple Braves fans do the Tomahawk ...,[]
34,_WarChief311,Husband | Father | Montana | Gamer | Xbox Seri...,Over there by the right there,1150,644,3137,29,If someone says the Atlanta Braves honor Nativ...,[]
82,KingSpann_,Southeastern Louisiana Alumnus üëë,901,1599,2699,40491,27,Austin Riley comes clutch and Braves take the ...,[]
65,ecly7,Father. Runner. // #SocialismSucks // üá∫üá∏üóΩ‚ú≠,The Great State of Texas,277,254,127500,3,Braves crowd defiantly pissing off the woke mo...,[]
9,Marcus_Cee,Living life to the fullest ü§©ALL PRO DADüèÜ,"League City, TX",389,608,22933,2,Great work by Garcia to get out of the bases l...,[ForTheH]
71,SportsTalk790,Official Twitter for Houston's SportsTalk790 (...,"Houston, Texas",1479,37143,77066,2,Great work by Garcia to get out of the bases l...,[ForTheH]
39,JeffSchultzATL,"Words scattered, smothered for @TheAthletic. B...",LA/SF/ATL,967,36921,98916,1,Braves get a run but leave the bases loaded. T...,[]
74,Matt__Card,"Digital Producer, ABC30-KFSN | Texas Tech Alum...","Fresno, CA",1978,2784,88706,1,Really felt like the Braves were going to open...,[]
17,Kris__Davis,Actor. Gamer.\nFather of some Gremlins. \nJust...,"Houston,Tx",5002,1748,118254,1,Really felt like the Braves were going to open...,[]
90,DanicaRosalee,Paranormal romance author. Nerdy geek.\nüáÆüáπüá©üá™üáÆüá™...,"Atlanta, GA",2519,615,5183,1,Austin Riley comes through with an RBI to put ...,"[worldseries, ForTheA, ATLvsHOU]"
11,StantonThe3rd,‚ÄúWe also just might be those motherfuckers‚Äù,The Coast,2204,1633,194291,1,Braves get a run but leave the bases loaded. T...,[]

In [47]:
#Declare series for Location Latitude, Location Longitude and Location Names
loc_lat= []
loc_long = []
loc_name=[]

# Using the Location of the Tweets extracted above, find their matching Latitude and Longitude
# We used GMaps for this purpose

for location in no_blnk_local_df['location']:
    location_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={location}&key={gkey}"
    geo_data = requests.get(location_url).json()
    
    try:
        loc_lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        loc_long.append(geo_data["results"][0]["geometry"]["location"]["lng"])
        loc_name.append(location)
    except IndexError:
        print("Index Out of Range")
        pass

In [48]:
data_df = {'location' :loc_name, 'latitude': loc_lat, 'longitude':loc_long}
location_df = pd.DataFrame(data_df)
location_df

                         location   latitude   longitude
0                East Atlanta, GA  33.736604  -84.335799
1                  Alpharetta, GA  34.075376  -84.294090
2        Marietta, GA, USA, Earth  33.948786  -84.508645
3          Great State of Texas.   33.625829  -96.870802
4                      Áèç„Ç´„ÇπÂ∑¶ËÖï„Åô„Åì„Åô„ÅìÈÉ®  34.721217  135.361656
5                     Atlanta, GA  33.748995  -84.387982
6                 California, USA  36.778261 -119.417932
7                      Frisco, TX  33.150674  -96.823612
8                    Marietta, GA  33.952602  -84.549933
9                  Manchester, NH  42.995640  -71.454789
10                   Portland, OR  45.515232 -122.678385
11  Over there by the right there  35.595638  -82.552717
12                           901   34.824381  -80.995794
13       The Great State of Texas  33.625829  -96.870802
14                League City, TX  29.507454  -95.094930
15                 Houston, Texas  29.760427  -95.369803
16                      LA/SF/ATL  33.640728  -84.427700
17                     Fresno, CA  36.737798 -119.787125
18                     Houston,Tx  29.760427  -95.369803
19                    Atlanta, GA  33.748995  -84.387982
20                      The Coast  34.038437  -78.238090

In [49]:
# Create a New Panda DF which has total number of Retweets by location

grp_retweet = no_blnk_local_df.groupby(["location"])
retweet_count = grp_retweet["retweetcount"].sum()

retweet_df = pd.DataFrame({"retweetcount":retweet_count}).sort_values('retweetcount',ascending=False)
retweet_df

                               retweetcount
location
East Atlanta, GA                       1506
Alpharetta, GA                          974
Atlanta, GA                             442
Marietta, GA, USA, Earth                442
Áèç„Ç´„ÇπÂ∑¶ËÖï„Åô„Åì„Åô„ÅìÈÉ®                              441
California, USA                         441
Frisco, TX                              441
Great State of Texas.                   441
Marietta, GA                            434
Manchester, NH                           58
Portland, OR                             51
Over there by the right there            29
901                                      27
The Great State of Texas                  3
League City, TX                           2
Houston, Texas                            2
Houston,Tx                                1
Fresno, CA                                1
The Coast                                 1
LA/SF/ATL                                 1

In [50]:
# Merge the 2 Panda DFs - The one which has Lat & Long with the Total Retweets by Location
merge_retweet_df = pd.merge(location_df,retweet_df, on="location",how="left")
merge_retweet_df = merge_retweet_df.drop_duplicates()
merge_retweet_df

                         location   latitude   longitude  retweetcount
0                East Atlanta, GA  33.736604  -84.335799          1506
1                  Alpharetta, GA  34.075376  -84.294090           974
2        Marietta, GA, USA, Earth  33.948786  -84.508645           442
3          Great State of Texas.   33.625829  -96.870802           441
4                      Áèç„Ç´„ÇπÂ∑¶ËÖï„Åô„Åì„Åô„ÅìÈÉ®  34.721217  135.361656           441
5                     Atlanta, GA  33.748995  -84.387982           442
6                 California, USA  36.778261 -119.417932           441
7                      Frisco, TX  33.150674  -96.823612           441
8                    Marietta, GA  33.952602  -84.549933           434
9                  Manchester, NH  42.995640  -71.454789            58
10                   Portland, OR  45.515232 -122.678385            51
11  Over there by the right there  35.595638  -82.552717            29
12                           901   34.824381  -80.995794            27
13       The Great State of Texas  33.625829  -96.870802             3
14                League City, TX  29.507454  -95.094930             2
15                 Houston, Texas  29.760427  -95.369803             2
16                      LA/SF/ATL  33.640728  -84.427700             1
17                     Fresno, CA  36.737798 -119.787125             1
18                     Houston,Tx  29.760427  -95.369803             1
20                      The Coast  34.038437  -78.238090             1

In [51]:
# Create the components of the Heat Map - Coordinates and Weights using the final Merge_Tweet Panda
# Coordinates being Lat and Long and the Weights being the Retweet Count

coord = merge_retweet_df[["latitude","longitude"]]

popularity = merge_retweet_df["retweetcount"].astype(float)

In [52]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coord, weights=popularity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Create a regular map as well, just for kicks :)
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig1 = gmaps.figure(layout=figure_layout)

In [54]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(coord)

# Add the layer to the map
fig1.add_layer(markers)
fig1

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi‚Ä¶