In [1]:
# Import Environment Dependencies
import tweepy
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from config import api_key, api_key_secret, access_token,access_token_secret
from pprint import pprint
from datetime import date
from datetime import timedelta
from config import gkey
import requests
import urllib
from urllib.request import urlopen
import json
import gmaps

In [2]:
# Get Authentication and API Handle from Tweepy

auth = tweepy.OAuthHandler(consumer_key=api_key, consumer_secret=api_key_secret)

auth.set_access_token(access_token,access_token_secret)

api = tweepy.API(auth)

In [3]:
#  # function to perform data extraction
def scrape(words):
      
# Creating DataFrame using pandas
    db = pd.DataFrame(columns=['username', 'description', 'location', 'following',
                               'followers', 'totaltweets', 'retweetcount', 'text', 'hashtags'])
   
   
 # Creating a Cursor using the .Cursor() method to search through twitter for the required tweets.
    
    tweets = tweepy.Cursor(api.search_tweets,q=words, lang="en", 
             tweet_mode='extended').items(100)
    
   
    list_tweets = [tweet for tweet in tweets]
     
    # we will iterate over each tweet in the list for extracting information about each tweet
    i = 1  
    for tweet in list_tweets:
        
        username = tweet.user.screen_name
        description = tweet.user.description
        location = tweet.user.location
        following = tweet.user.friends_count
        followers = tweet.user.followers_count
        totaltweets = tweet.user.statuses_count
        retweetcount = tweet.retweet_count
        hashtags = tweet.entities['hashtags']
        
        # Retweets can be distinguished by a retweeted_status attribute,
        # in case it is an invalid reference, except block will be executed
        try:
            text = tweet.retweeted_status.full_text
        except AttributeError:
            text = tweet.full_text
       
        hashtext = list()
        for j in range(0, len(hashtags)):
            hashtext.append(hashtags[j]['text'])
          
        # Here we are appending all the extracted information in the DataFrame
       
        ith_tweet = [username, description, location, following,
                     followers, totaltweets, retweetcount, text, hashtext]
        db.loc[len(db)] = ith_tweet
    
        i = i+1
    return db
        
        
    
#     filename = 'scraped_tweets.csv'    
    # Saving the resultset as a CSV file.
#     db.to_csv(filename)

if __name__ == '__main__':
         
# Enter Keyword
    print("Enter Keyword to search for")
    words = input()

  
    db=scrape(words)

Enter Keyword to search for
The Braves

In [4]:
#Create a Panda Dataframe with the dataframe returned in the earlier module
db_df = pd.DataFrame(db)
db_df

# Extract the top 50 tweets where the location has a value and the retweet count> 0 into separate Panda DF
no_blnk_local_df = db_df.loc[((db_df['location'] !="") & (db_df["retweetcount"] > 0)),:].sort_values('retweetcount',ascending=False).head(50)
no_blnk_local_df

,username,description,location,following,followers,totaltweets,retweetcount,text,hashtags
19,wxkaylee13,I’m a weather nerd. Future Meteorologist/Storm...,"Nashville, TN",3066,676,24207,1661,As the Atlanta Braves continue their journey i...,[WorldSeries]
47,ChristnerAustin,Bellmont High School ‘23 // Indiana Chargers 16u,"Indiana, USA",259,88,27,1030,"""I'm just so thankful to be here. I really can...",[]
6,jcdragonreborn,"conservative, catholic, former army, just tryi...","Ormond Beach, FL",1223,624,84500,702,Wait... the pilot that triggered this whole me...,[]
96,tlittlepage,"Attorney, Wilson, Hutchinson & Littlepage and ...","Owensboro, Kentucky",451,435,4383,408,Greg respectfully declined the opportunity to ...,[]
38,djradar,,"Fayetteville, AR",1036,643,463169,408,Greg respectfully declined the opportunity to ...,[]
55,maryredd,,Chicago,5000,1190,79459,327,plot twist: a distinct possibility that the pi...,[]
42,GarrettEvans52,23 | ΠΚΑ Alum | UTM,"Jackson, TN",354,808,47823,149,Leaving treats out for the kids since the Brav...,[]
24,SoIerPower,. uga braves hawks ᶠᵃˡᶜᵒⁿˢ jermaine burton and...,sixteen georgia usa,645,142,12250,137,"Braves' Max Fried: ""Any time you don't perform...",[]
46,thatgoldiecat,Possibly a racoon in human form. Music lover. ...,New Orleans,757,231,4605,137,"Braves' Max Fried: ""Any time you don't perform...",[]
26,FknHatake,Lead @ ?,"Atlanta, GA",661,185,2383,137,"Braves' Max Fried: ""Any time you don't perform...",[]
97,JB_Lethgo,"I was born here and raised here, and I'll make...",In a galaxy far far away...,704,325,44859,137,"Braves' Max Fried: ""Any time you don't perform...",[]
8,nightsonrepeat,,"Pennsylvania, USA",93,45,1355,137,"Braves' Max Fried: ""Any time you don't perform...",[]
70,iamthelemongirl,Don’t put me on your lists!,United States,1315,857,104488,119,It's way past time to retire the tomahawk chop...,[]
5,davidaprinz,"B.A. from Kent State. Politics Sports, and car...","cleveland, ohio",2253,287,43376,74,"If this turns out to be “Let’s go Braves”, eve...",[]
33,VideSulizan,Writer/photojournalist,"Texas, USA",110,474,156167,69,There are plenty of stars at this World Series...,[]
27,NEODECADESENSHI,UofA graduate. Recreation Leader. Go Seahawks!...,Bay Area,1719,163,41337,61,Go Braves! Beat the Houston Asterisks! New epi...,[worldseries]
10,akaChrisx,,"Houston, TX",353,2448,18113,60,The Astros outscored the Braves 9-1 after the ...,[]
73,SusanLordBiz,Patriot MOLONLABE\nVET USAF Photo 85-95\nBorn ...,"Florida, the panhandle",601,544,2808,48,Here Are 8 Less Offensive Alternatives To The ...,[]
61,mggidev,,"Pensacola, FL",238,191,1204,34,Most Americans find no issue with the Trump-ap...,[]
57,patricka1982,,"Milwaukee, WI",2742,727,10308,31,🚨 #Giveaway 🚨\n\n🔥2021 Topps Chrome Blaster🔥\n...,[Giveaway]
34,Brownie243496,"Pitcher, Point Guard, Wide Receiver, Race Car ...","South Burlington, VT",1040,198,18882,25,Red Sox Braves\n\n 🤝\n\...,[]
12,BlueWave_resist,Blue wave woman. 🇺🇸\n#TheResistance\n#BlackLi...,"Florida, USA",4998,4326,64556,24,@TayFromCA @Braves Surprised he didn’t need th...,[]
85,GTFlats1,Georgia Tech Football 🏈 #404TheCulture,"Atlanta, GA",202,83,3505,9,Friendly reminder that the #Braves won the 199...,[Braves]
65,MasonSeabolt,University of North Georgia '22 | Contributor:...,"Gainesville, GA",83,49,323,9,Friendly reminder that the #Braves won the 199...,[Braves]
29,Snowdan13,,"Saint Paul, MN",391,78,322,6,"#MNTwins haven't played a game in a month, yet...",[MNTwins]
64,zmanference,"God, Family, and Sports #JDF16",Marlins Park,301,379,11897,5,"When you, as a Marlins fan, find yourself root...",[]
59,HeyyRB,chill out. what you yelling for•• the girl w/ ...,"The Woodlands, TX",675,7046,106085,3,"Game 6 Sec 104 selling each seat $725, 411 $1,...","[WorldSeries, AstrosTwitter, Astros]"
56,FleecingVegas,Betting Professionally for 9+yrs\nDM for VIP p...,"Las Vegas, NV",4854,2821,1203,3,🧹 BACK 2 BACK SWEEPS! 🧹 \n\n WIN Chiefs/Eagl...,"[NFL, MNFxESPN, Giants]"
48,AlonsoMindiola,If I’m not at Pluckers Im at Minute Maid Park ...,"Houston, Texas",598,475,60735,3,"Game 6 Sec 104 selling each seat $725, 411 $1,...","[WorldSeries, AstrosTwitter, Astros]"
78,jasmill13,dramatic houston sports fan #BillsMafia | i tw...,"Houston, TX",1345,2219,38913,3,"Game 6 Sec 104 selling each seat $725, 411 $1,...","[WorldSeries, AstrosTwitter, Astros]"
84,LETHALWEAPONMV,"1/2🇵🇪 1/2🇬🇧 ,Born in🇦🇷 & raised in HTown🇺🇸! En...","HTown, Texas USA",1003,2437,73153,3,"Game 6 Sec 104 selling each seat $725, 411 $1,...","[WorldSeries, AstrosTwitter, Astros, Braves]"
15,BlueWave_resist,Blue wave woman. 🇺🇸\n#TheResistance\n#BlackLi...,"Florida, USA",4998,4326,64556,3,@TayFromCA @Braves He wanted to throw out the ...,[]
23,tiffani_braves,Tiffani. 24. Future Marine Animal Trainer/Mari...,"Georgia, USA",620,614,1822,2,"Just 13 followers away from 1,600 followers. W...",[]
44,jontweetssports,"Founder: https://t.co/kZuPgXjGA7 | Sports guy,...",United States,728,1647,3545,1,Max Fried: “I'm ready to go out there and leav...,[]
82,MoKak78,I tweet a ton during UGA/Braves/Hawks games. I...,My lab doing my own research,976,480,18697,1,@Tim_Brindle @SarahSpain I think that a lot of...,[]
16,espn630dc,"DC's new all-sports station! Tony Kornheiser, ...","Washington, DC",495,1295,1993,1,The Houston Astros kept their dreams of a Worl...,[]
36,Lulz5wag,ᴠɪɴᴄᴇɴᴛ ɢɪᴏᴠᴀɴɴɪ\n\n𝕷𝖚𝖑𝖟§𝖜𝖆𝖌 𝕿𝖊𝖈𝖍𝖓𝖎𝖈𝖎𝖆𝖓 ҋ¡ɢԩ†§...,IG: @Lulzswag,3244,1234,9492,1,April of this year Trump said this...\n\nBut t...,"[TrumpRally, Braves, Atlanta]"
32,WLabenda,"Mets, NY Giants, Triumph classic cars, retired...",NJ,1940,1107,4112,1,@JonHeyman Look at what the Braves did at the ...,[]
2,dcbigoso,"Consultant,Producer/Co-Host/Child of the most ...","washington,dc",5000,2188,262913,1,The Houston Astros kept their dreams of a Worl...,[]

In [5]:
#Declare series for Location Latitude, Location Longitude and Location Names
loc_lat= []
loc_long = []
loc_name=[]

# Using the Location of the Tweets extracted above, find their matching Latitude and Longitude
# We used GMaps for this purpose

for location in no_blnk_local_df['location']:
    location_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={location}&key={gkey}"
    geo_data = requests.get(location_url).json()
    
    try:
        loc_lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        loc_long.append(geo_data["results"][0]["geometry"]["location"]["lng"])
        loc_name.append(location)
    except IndexError:
        print("Index Out of Range")

Index Out of Range

In [6]:
data_df = {'location' :loc_name, 'latitude': loc_lat, 'longitude':loc_long}
location_df = pd.DataFrame(data_df)
location_df

                        location   latitude   longitude
0                  Nashville, TN  36.162664  -86.781602
1                   Indiana, USA  40.267194  -86.134902
2               Ormond Beach, FL  29.285813  -81.055889
3            Owensboro, Kentucky  37.771907  -87.111168
4               Fayetteville, AR  36.066242  -94.157853
5                        Chicago  41.878114  -87.629798
6                    Jackson, TN  35.614517  -88.813947
7           sixteen georgia usa   33.294461  -83.961631
8                    New Orleans  29.951066  -90.071532
9                    Atlanta, GA  33.748995  -84.387982
10  In a galaxy far far away...   28.357063  -81.560223
11             Pennsylvania, USA  41.203322  -77.194525
12                 United States  37.090240  -95.712891
13               cleveland, ohio  41.499320  -81.694361
14                    Texas, USA  31.968599  -99.901813
15                      Bay Area  37.827178 -122.291308
16                   Houston, TX  29.760427  -95.369803
17        Florida, the panhandle  30.421264  -87.216891
18                 Pensacola, FL  30.421309  -87.216915
19                 Milwaukee, WI  43.038902  -87.906474
20          South Burlington, VT  44.466994  -73.170960
21                  Florida, USA  27.664827  -81.515754
22                   Atlanta, GA  33.748995  -84.387982
23               Gainesville, GA  34.297879  -83.824066
24                Saint Paul, MN  44.953703  -93.089958
25                 Marlins Park   25.778149  -80.219600
26             The Woodlands, TX  30.165821  -95.461262
27                 Las Vegas, NV  36.169941 -115.139830
28                Houston, Texas  29.760427  -95.369803
29                   Houston, TX  29.760427  -95.369803
30             HTown, Texas USA   29.760427  -95.369803
31                  Florida, USA  27.664827  -81.515754
32                  Georgia, USA  32.165622  -82.900075
33                 United States  37.090240  -95.712891
34  My lab doing my own research  37.236403 -121.966255
35                Washington, DC  38.907192  -77.036871
36                            NJ  40.058324  -74.405661
37                 washington,dc  38.907192  -77.036871

In [7]:
# Create a New Panda DF which has total number of Retweets by location

grp_retweet = no_blnk_local_df.groupby(["location"])
retweet_count = grp_retweet["retweetcount"].sum()

retweet_df = pd.DataFrame({"retweetcount":retweet_count}).sort_values('retweetcount',ascending=False)
retweet_df

                              retweetcount
location
Nashville, TN                         1661
Indiana, USA                          1030
Ormond Beach, FL                       702
Fayetteville, AR                       408
Owensboro, Kentucky                    408
Chicago                                327
Jackson, TN                            149
Atlanta, GA                            146
Pennsylvania, USA                      137
In a galaxy far far away...            137
New Orleans                            137
sixteen georgia usa                    137
United States                          120
cleveland, ohio                         74
Texas, USA                              69
Houston, TX                             63
Bay Area                                61
Florida, the panhandle                  48
Pensacola, FL                           34
Milwaukee, WI                           31
Florida, USA                            27
South Burlington, VT                    25
Gainesville, GA                          9
Saint Paul, MN                           6
Marlins Park                             5
Las Vegas, NV                            3
Houston, Texas                           3
HTown, Texas USA                         3
The Woodlands, TX                        3
Georgia, USA                             2
NJ                                       1
My lab doing my own research             1
IG: @Lulzswag                            1
Washington, DC                           1
washington,dc                            1

In [8]:
# Merge the 2 Panda DFs - The one which has Lat & Long with the Total Retweets by Location
merge_retweet_df = pd.merge(location_df,retweet_df, on="location",how="left")
merge_retweet_df = merge_retweet_df.drop_duplicates()
merge_retweet_df

                        location   latitude   longitude  retweetcount
0                  Nashville, TN  36.162664  -86.781602          1661
1                   Indiana, USA  40.267194  -86.134902          1030
2               Ormond Beach, FL  29.285813  -81.055889           702
3            Owensboro, Kentucky  37.771907  -87.111168           408
4               Fayetteville, AR  36.066242  -94.157853           408
5                        Chicago  41.878114  -87.629798           327
6                    Jackson, TN  35.614517  -88.813947           149
7           sixteen georgia usa   33.294461  -83.961631           137
8                    New Orleans  29.951066  -90.071532           137
9                    Atlanta, GA  33.748995  -84.387982           146
10  In a galaxy far far away...   28.357063  -81.560223           137
11             Pennsylvania, USA  41.203322  -77.194525           137
12                 United States  37.090240  -95.712891           120
13               cleveland, ohio  41.499320  -81.694361            74
14                    Texas, USA  31.968599  -99.901813            69
15                      Bay Area  37.827178 -122.291308            61
16                   Houston, TX  29.760427  -95.369803            63
17        Florida, the panhandle  30.421264  -87.216891            48
18                 Pensacola, FL  30.421309  -87.216915            34
19                 Milwaukee, WI  43.038902  -87.906474            31
20          South Burlington, VT  44.466994  -73.170960            25
21                  Florida, USA  27.664827  -81.515754            27
23               Gainesville, GA  34.297879  -83.824066             9
24                Saint Paul, MN  44.953703  -93.089958             6
25                 Marlins Park   25.778149  -80.219600             5
26             The Woodlands, TX  30.165821  -95.461262             3
27                 Las Vegas, NV  36.169941 -115.139830             3
28                Houston, Texas  29.760427  -95.369803             3
30             HTown, Texas USA   29.760427  -95.369803             3
32                  Georgia, USA  32.165622  -82.900075             2
34  My lab doing my own research  37.236403 -121.966255             1
35                Washington, DC  38.907192  -77.036871             1
36                            NJ  40.058324  -74.405661             1
37                 washington,dc  38.907192  -77.036871             1

In [9]:
# Create the components of the Heat Map - Coordinates and Weights using the final Merge_Tweet Panda
# Coordinates being Lat and Long and the Weights being the Retweet Count

coord = merge_retweet_df[["latitude","longitude"]]

popularity = merge_retweet_df["retweetcount"].astype(float)

In [10]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coord, weights=popularity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create a regular map as well, just for kicks :)
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig1 = gmaps.figure(layout=figure_layout)

In [12]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(coord)

# Add the layer to the map
fig1.add_layer(markers)
fig1

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…